<div class="container">
  
  <div class="card" [@flip]="flipped ? 'flipped' : 'notFlipped'" (mouseenter)="flipped = true" (mouseleave)="flipped = false">
  
  <div class="card front notFlipped">
    <img src="../assets/images/user.png" class="avatar">
    <label for="" class="job_intro">Front-end Developer</label>
    <label for="" class="name">Parvin Najafi</label>
    <p class="discribtion">A hardworking and motivated person, interested in learning and always trying to seek the most up-to-date, and progressing with JavaScript and React skills as well as the ability to communicate effectively in a team environment.</p>
    <!-- <div class=circle_box>
    <img src="../assets/images/Telegram-Logo.png"  class="circle_footer">
    <!-- <div class="circle_footer"> <i class="fa fa-heart"></i> </div> -->
    <!-- <img src="../images/download (2).png"  class="circle_footer"> -->
    <!-- </div> -->
  </div>
    <div class="back">
      <P>Posh Cartyyyyyyy</P>
    </div>
    <p class="back">
      test
    </p>
  </div>
</div>








